* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: beige;
  height: 100vh;
  width: 100vw;
  border: 5px solid black;
}

.box {
  background-color: rgba(0, 0, 255, 0.719);
  width: 300px;
  height: 90px;
  border: 3px solid yellow;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  animation-name: rightMovement;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes rightMovement {
  from {
    top: 0;
    left: 0;
  }

  to {
    top: 0;
    left: 1200px;
  }
}

.box2 {
  background-color: rgba(0, 0, 255, 0.719);
  width: 300px;
  height: 90px;
  border: 3px solid yellow;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  animation-name: leftMovement;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes leftMovement {
  from {
    top: 500px;
    left: 1200px;
  }

  to {
    top: 500px;
    left: 0;
  }
}

.circle {
  background-color: rgba(0, 0, 255, 0.719);
  width: 100px;
  height: 100px;
  border: 3px solid yellow;
  border-radius: 50px;
  position: relative;
  top: 30%;
  left: 45%;
  animation-name: circleMovement;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes circleMovement {
  0% {
    top: 1%;
    left: 2%;
  }

  30% {
    top: 5%;
    left: 90%;
  }

  60% {
    top: 70%;
    left: 10%;
  }

  100% {
    top: 70%%;
    left: 90%;
  }
}
